---
import { Image } from "astro:assets";
import DataField from "./data-field.astro";
import logo from "../../assets/logos/logo-blanco-03.png";

interface Props {
  studentName: string;
  startDate: string; // ISO date string
  expiryDate: string; // ISO date string
}

const { studentName, expiryDate, startDate } = Astro.props;

// Parse dd/mm/yyyy format
function parseDate(dateString: string): Date {
  const [day, month, year] = dateString.split("/").map(Number);
  return new Date(year, month - 1, day); // month is 0-indexed in JavaScript
}

const now = new Date();
now.setHours(0, 0, 0, 0);

const start = parseDate(startDate);
const end = parseDate(expiryDate);

const validFrom = new Date(start);
validFrom.setDate(validFrom.getDate() - 1);
validFrom.setHours(0, 0, 0, 0);

const validUntil = new Date(end);
validUntil.setDate(validUntil.getDate() + 3);
validUntil.setHours(23, 59, 59, 999);

const isBefore = now < validFrom;
const isExpired = now > validUntil;

let statusLabel = "";
let statusColor = "";

if (isBefore) {
  statusLabel = "⏳ Aún no activo";
  statusColor = "text-yellow-600";
} else if (isExpired) {
  statusLabel = "❌ Expirado";
  statusColor = "text-red-600";
} else {
  statusLabel = "✅ Alumno Válido";
  statusColor = "text-green-600";
}

function formatDate(date: Date) {
  return date.toLocaleDateString("es-AR", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
}
---

<section>
  <div class="py-10 flex justify-center">
    <div
      class="relative w-full max-w-[150px] aspect-[3.45/1] flex items-center justify-center"
    >
      <Image decoding="async" src={logo} alt="Logo FaunaKite white" />
    </div>
  </div>

  <div class="overflow-hidden rounded-4xl bg-white max-w-2xl mx-auto">
    <div class="border-b border-gray-200 px-4 py-5 sm:px-6 text-center">
      <h1 class={`text-2xl font-bold leading-6 uppercase ${statusColor}`}>
        {statusLabel}
      </h1>
    </div>

    <div class="border-b border-gray-200 px-4 py-5 sm:px-6">
      <dl class="divide-y divide-gray-200">
        <DataField label="Nombre" value={studentName} />
        <DataField label="Valido Desde" value={formatDate(validFrom)} />
        <DataField label="Valido Hasta" value={formatDate(validUntil)} />
      </dl>
    </div>
  </div>
</section>
