---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../modules/news/date.utils";
import { getNews, type News } from "../../modules/news/utils";
import logo from "../../assets/logos/logo-blanco-03.png";
import Nav from "../../components/nav.astro";
import TheSpotTopSeparator from "../../components/svg/the-spot-top-separator.astro";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "es" } }];
}

const lang = Astro.params.locale as "en" | "es";
const posts: News[] = await getNews();
---

<Layout title="Noticias | Fauna Kite ">
  <header>
    <Nav />
  </header>

  <main class="min-h-dvh bg-brand-blue">
    <div class="relative w-full h-[220px] md:h-[300px]">
      <div
        class="absolute inset-0 bg-no-repeat bg-position-[bottom_30%_right_20%] bg-cover bg-red-200"
        style="background-image: url('/hero-desktop-2.jpeg');"
      >
      </div>

      <div
        class="flex justify-end max-w-4xl mx-auto relative z-20 h-full items-end pb-4 md:pb-10"
      >
        <h1 class="font-salted text-6xl md:text-8xl pr-4 md:pr-0">NEWS</h1>
      </div>

      <div class="absolute bottom-0 left-0 w-full text-brand-blue">
        <TheSpotTopSeparator />
      </div>
    </div>

    <div class="mx-auto max-w-2xl px-5 py-12">
      <div class="relative -top-2.5 flex flex-col gap-8">
        {
          posts.map((post) => (
            <a
              href={`/${lang}/news/${post.slug.current}`}
              class="block cursor-pointer py-4 hover:scale-[1.005] will-change-transform scale-100 active:scale-100 transition-all duration-150"
            >
              <article>
                <h2 class="text-[28px] font-black leading-none mb-2">
                  {post.title}
                </h2>
                <p class="text-[13px] text-gray-700 dark:text-gray-300">
                  {formatDate(post._createdAt)}
                </p>
                <p class="mt-1">{post.summary}</p>
              </article>
            </a>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
