---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { useTranslations } from "../i18n/utils";
import logo from "../assets/logos/logo-blanco-03.png";
import FooterTopSeparator from "./svg/footer-top-separator.astro";

const lang = Astro.params.locale as "en" | "es";
const t = useTranslations(lang);

const links = [
  { name: t("footer.navigation.courses"), href: "services/clases" },
  { name: t("footer.navigation.rental"), href: "services/rental" },
  { name: t("footer.navigation.kitecamps"), href: "services/kitecamps" },
  { name: t("footer.navigation.cuesta-del-viento"), href: "cuesta-del-viento" },
  { name: t("footer.navigation.benefits"), href: "benefits" },
  { name: t("footer.navigation.news"), href: "news" },
  {
    name: t("footer.navigation.store"),
    href: "https://faunakite.mitiendanube.com/",
  },
];

interface Props {
  fill?: boolean;
  showPattern?: boolean;
}

const { fill = false, showPattern = true } = Astro.props;

const className = fill
  ? "relative z-10 text-brand-blue bg-celeste-3"
  : "relative z-10 text-brand-blue bg-transparent";
---

<div>
  <div
    class:list={[
      "bg-brand-light",
      {
        "bg-[url('/cuesta-del-viento/white-wave-contrast-2.png')] bg-size-[42px_auto]":
          showPattern,
      },
    ]}
  >
    <div class={className}>
      <FooterTopSeparator />
    </div>

    <footer class="bg-brand-blue text-white">
      {/* Main Footer Content */}
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-20">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12">
          {/* Brand Section */}
          <div class="space-y-4">
            <a href="/">
              <div class="relative w-full max-w-[100px] aspect-[3.45/1]">
                <Image decoding="async" src={logo} alt="Logo FaunaKite white" />
              </div>
            </a>

            <p class="text-white/80 text-sm leading-relaxed">
              {t("footer.slogan")}
            </p>
            {/* Social Media */}
            <div class="flex gap-4 pt-2">
              <a
                href="https://www.instagram.com/fauna.kite/"
                target="_blank"
                class="w-10 h-10 rounded-full bg-white/10 flex items-center justify-center transition-colors"
                aria-label="Instagram"
              >
                <Icon name="instagram" />
              </a>
              <a
                href="#"
                class="whatsapp-btn w-10 h-10 rounded-full bg-white/10 flex items-center justify-center transition-colors"
                aria-label="WhatsApp"
                target="_blank"
              >
                <Icon name="whatsapp" />
              </a>
            </div>
          </div>

          {/* Navigation */}
          <div>
            <p class="font-bold tracking-wide uppercase mb-4 text-fauna-sun">
              {t("footer.navigation.title")}
            </p>
            <ul class="space-y-3">
              {
                links.map((link) => {
                  if (link.href.startsWith("http")) {
                    return (
                      <li>
                        <a
                          href={link.href}
                          class="text-white/80  transition-colors text-sm"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          {link.name}
                        </a>
                      </li>
                    );
                  }

                  return (
                    <li>
                      <a
                        href={`/${lang}/${link.href}`}
                        class="text-white/80  transition-colors text-sm"
                      >
                        {link.name}
                      </a>
                    </li>
                  );
                })
              }
            </ul>
          </div>

          {/* Contact */}
          <div class="lg:col-span-2">
            <p class="font-bold tracking-wide uppercase mb-4 text-fauna-sun">
              {t("footer.contact.title")}
            </p>
            <div class="space-y-3 text-sm lg:grid lg:grid-cols-2">
              <ul class="space-y-3">
                <li class="text-white/80">
                  <a
                    href="https://wa.me/5492646600588"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="transition-colors flex items-center gap-2"
                  >
                    <span>+54 9 264 6600588</span>
                    <div class="whatsapp-btn flex items-center justify-center">
                      <Icon name="whatsapp" />
                    </div>
                  </a>
                </li>
                <li class="text-white/80">
                  <a
                    href="https://wa.me/5492645828246"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="flex items-center gap-2 transition-colors"
                  >
                    <span>+54 9 264 5828246</span>
                    <div class="whatsapp-btn flex items-center justify-center">
                      <Icon name="whatsapp" />
                    </div>
                  </a>
                </li>
              </ul>

              <ul class="space-y-3">
                <li class="text-white/80">
                  <a href="mailto:hola@faunakite.com" class="transition-colors">
                    faunacomunidad@gmail.com
                  </a>
                </li>
                <li class="text-white/80">San Juan, Argentina</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      {/* Bottom Bar */}
      <div class="border-t border-brand-green/50">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
          <div
            class="flex flex-col md:flex-row justify-between items-center gap-4 text-sm text-white/60"
          >
            <p>
              © {new Date().getFullYear()} Fauna Kite. {
                t("footer.legal.copyright")
              }
            </p>
            <div class="flex gap-6">
              <a href="/privacy" class="transition-colors">
                {t("footer.legal.privacy")}
              </a>
              <a href="/terms" class="transition-colors">
                {t("footer.legal.terms")}
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<script>
  import { initializeWhatsAppButton } from "../modules/utils/whatsapp";

  document.addEventListener("astro:page-load", () => {
    initializeWhatsAppButton(".whatsapp-btn", "");
  });
</script>
