---
import type { TiendaNubeProduct } from "../modules/store/tiendanube/types";
import { getProducts, formatPrice } from "../modules/store/tiendanube/utils";
import NewsletterBrownMountain from "./svg/newsletter-brown-mountain.astro";

// const products: TiendaNubeProduct[] = await getProducts();
const products: TiendaNubeProduct[] = [];
---

<div class="relative pt-64">
  <div class="z-50 absolute bottom-1/3 left-0 w-full">
    <div class="max-w-4xl mx-auto px4">
      <div
        class="overflow-x-auto scroll-container snap-x snap-mandatory bg-white rounded-4xl p-10"
      >
        <div
          class="flex gap-6 md:gap-8 min-w-max md:min-w-0 md:grid md:grid-cols-3"
        >
          {
            products?.map((product) => (
              <article class="snap-center flex-shrink-0 reltaive z-10 w-64 md:w-auto">
                <div class="group">
                  <div class="relative aspect-square mb-4">
                    <img
                      src={product.images[0].src}
                      alt="Kite Completo"
                      class="w-full h-full object-cover opacity-90 group-hover:opacity-100 transition-opacity duration-300 rounded-t-xl"
                    />

                    <div class="absolute z-30 bottom-[-16px] right-4 bg-brand-blue border-4 border-[#fff] size-8 rounded-full text-[#fff] flex items-center justify-center">
                      <a
                        href={product.canonical_url}
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="fill-current"
                        >
                          <path d="M7 7h10v10" />
                          <path d="M7 17 17 7" />
                        </svg>
                      </a>
                    </div>
                  </div>
                  <h3 class="text-lg font-bold uppercase mb-1 text-brand-blue">
                    {product.name.es}
                  </h3>
                  <p class="text-sm text-brand-blue/70 uppercase tracking-wide mb-2">
                    {product.description.es}
                  </p>
                  <p class="text-xl font-bold text-brand-blue">
                    {formatPrice(product.variants[0].price)}
                  </p>
                </div>
              </article>
            ))
          }
        </div>

        <div class="flex justify-center pt-10">
          <a
            class="text-brand-blue border border-brand-blue w-1/3 text-center py-2 rounded-md"
            href="https://faunakite.mitiendanube.com/"
            target="_blank"
            rel="noopener noreferrer">VER TODOS LOS PRODUTOS</a
          >
        </div>
      </div>
    </div>
  </div>

  <div
    class="relative w-full aspect-[6.13/1] z-10 overflow-hidden"
    aria-hidden="true"
  >
    <div class="absolute w-full h-full block text-brand-brown-light">
      <NewsletterBrownMountain />
    </div>
  </div>

  <div class="w-full bg-brand-brown-light h-[400px]"></div>
</div>
