---
import { useTranslations } from "../i18n/utils";

const lang = Astro.params.locale as "en" | "es";
const t = useTranslations(lang);

const navLinks = [
  {
    name: t("services.nav.courses"),
    href: `/${lang}/services/clases`,
  },
  {
    name: t("services.nav.rental"),
    href: `/${lang}/services/rental`,
  },
  {
    name: t("services.nav.kitecamps"),
    href: `/${lang}/services/kitecamps`,
  },
  {
    name: t("services.nav.kitetrips"),
    href: `/${lang}/services/kitetrips`,
  },
];

const activeLinkClass =
  "block w-full px-6 py-2 rounded-4xl bg-brand-red border-2 text-white border-brand-blue";
const linkClass =
  "block w-full px-6 py-2 rounded-4xl border-2 border-brand-light text-brand-light";
---

<nav class="px-4">
  <ul
    class="w-full flex flex-col md:flex-row justify-center gap-4 md:gap-10 text-white font-bold uppercase"
  >
    {
      navLinks.map((link) => (
        <li>
          <a
            href={link.href}
            class={
              Astro.url.pathname.startsWith(link.href)
                ? activeLinkClass
                : linkClass
            }
          >
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
