---
import { Image } from "astro:assets";
import cursos from "../assets/courses.webp";
import kiteCamp from "../assets/kite-camps.webp";
import rental from "../assets/rental.webp";
import travels from "../assets/travels.webp";
import { useTranslations } from "../i18n/utils";
import ServicesBackground from "./svg/services-background.astro";
import { Icon } from "astro-icon/components";

const lang = Astro.params.locale as "en" | "es";
const t = useTranslations(lang);

const services = [
  {
    title: t("services.courses.title"),
    summary: t("services.courses.summary"),
    image: cursos,
    icon: "courses",
    link: `/${lang}/services/clases`,
  },
  {
    title: t("services.kitecamps.title"),
    summary: t("services.kitecamps.summary"),
    image: kiteCamp,
    icon: "kitecamps",
    link: `/${lang}/services/kitecamps`,
  },
  {
    title: t("services.rental.title"),
    summary: t("services.rental.summary"),
    image: rental,
    icon: "rental",
    link: `/${lang}/services/rental`,
  },
  {
    title: t("services.tours.title"),
    summary: t("services.tours.summary"),
    image: travels,
    icon: "travel",
    link: `/${lang}/services/kitetrips`,
  },
];
---

<section class="relative py-20">
  <div class="absolute top-0 w-full h-[200px] bg-brand-blue z-10"></div>

  <div
    class="hidden lg:block absolute -top-[100px] left-0 w-full z-20 h-[800px]"
    aria-hidden="true"
  >
    <ServicesBackground class="w-full h-full" />
  </div>

  <div class="relative z-30 px-4 md:px-10 bg-brand-blue lg:bg-transparent">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 max-w-7xl mx-auto"
    >
      {
        services.map((service) => (
          <div class="group relative bg-celeste-3  lg:bg-brand-blue rounded-xl overflow-hidden shadow-news-card cursor-pointer">
            <a href={service.link}>
              <div class="relative h-60 w-full overflow-hidden">
                <Image
                  src={service.image || "/placeholder.svg"}
                  alt={service.title}
                  widths={[400, 665, 800, 1200]}
                  sizes="(max-width: 640px) 100vw, (max-width: 1024px) 50vw, 665px"
                  class="object-cover transition-transform duration-500 group-hover:scale-105 h-full w-full"
                />

                <div class="absolute w-full h-[25%] bottom-0 bg-linear-to-t from-celeste-3 to-transparent" />

                <div class="flex justify-between items-end mb-4 absolute bottom-0 px-8 w-full">
                  <h2 class="text-2xl font-bold text-foreground ">
                    {service.title}
                  </h2>

                  <div class="text-white size-12 ">
                    <Icon name={service.icon} class="w-full h-full" />
                  </div>
                </div>
              </div>

              <div class="p-8 pt-4">
                <p class="text-white leading-relaxed text-pretty text-lg lg:text-base">
                  {service.summary}
                </p>
              </div>

              {/* <div class="flex justify-center">
                <button class="font-bold py-2 px-6 rounded-2xl bg-white text-brand-blue">
                  VER MÁS
                </button>
              </div> */}
            </a>
          </div>
        ))
      }
    </div>

    <div class="flex justify-center py-10">
      <a
        href={`/${lang}/services/clases`}
        class="px-6 py-2 lg:bg-brand-blue lg:text-white text-brand-blue bg-white font-bold rounded-4xl hover:bg-brand-red transition-colors duration-150"
      >
        {t("services.button")}
      </a>
    </div>
  </div>
</section>
