---
import { useTranslations } from "../../../i18n/utils";
import ServicesLayout from "../../../layouts/services-layout.astro";
import KitecampPhoto1 from "../../../assets/what-we-offer/kitecamps/kitecamp-1.webp";
import KitecampPhoto2 from "../../../assets/what-we-offer/kitecamps/kitecamp-2.webp";
import KitecampPhoto3 from "../../../assets/what-we-offer/kitecamps/kitecamp-3.webp";
import KitecampPhoto4 from "../../../assets/what-we-offer/kitecamps/kitecamp-4.webp";
import { KitecampsCarousel } from "../../../components/spot/spot-carousel";
import { Icon } from "astro-icon/components";
import {
  getKitecamps,
  getPastKitecamps,
  type Kitecamp,
} from "../../../modules/kitecamps/utils";
import { urlFor } from "../../../modules/news/image.utils";
import {
  createWhatsAppLink,
  getRandomInstructor,
} from "../../../modules/utils/whatsapp";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "es" } }];
}

const lang = Astro.params.locale as "en" | "es";
const t = useTranslations(lang);

const kitecamps: Kitecamp[] = await getKitecamps(lang);
const pastKitecamps: Kitecamp[] = await getPastKitecamps(lang);

const images = [
  {
    src: KitecampPhoto3.src,
    alt: "KiteCamp",
  },
  {
    src: KitecampPhoto1.src,
    alt: "KiteCamp",
  },
  {
    src: KitecampPhoto2.src,
    alt: "KiteCamp",
  },
  {
    src: KitecampPhoto4.src,
    alt: "KiteCamp",
  },
];

function createKitecampMessage(title: string, date: string) {
  return `¡Hola! Mi nombre es: _____
Me gustaría unirme al *${title}*
Fecha: ${date}
¿Tienen disponibilidad? ¡Gracias!`;
}
---

<ServicesLayout>
  <Fragment slot="header">
    <div class="max-w-6xl mx-auto pb-30">
      <div class="space-y-8 text-white text-lg md:text-xl px-4">
        <p>
          {t("services.kitecamps.header.p1")}
        </p>
      </div>
    </div>
  </Fragment>

  <div class="grid md:grid-cols-2 gap-10 py-10 max-w-6xl mx-auto">
    <div class="text-brand-blue max-w-prose text-lg space-y-4 px-4">
      <h1 class="font-bold text-2xl md:text-4xl">KITE CAMP</h1>

      <p>
        {t("services.kitecamps.intro.p1")}
      </p>
      <p>
        <strong> {t("services.kitecamps.includes.title")}: </strong>
      </p>
      <ul class="flex flex-col gap-4">
        <li class="flex gap-4 items-center">
          <Icon name="graduation-cap" class="size-8" />
          <span>
            {t("services.kitecamps.includes.item1")}
          </span>
        </li>
        <li class="flex gap-4 items-center">
          <Icon name="video-camera" class="size-8" />
          <span> {t("services.kitecamps.includes.item2")} </span>
        </li>
        <li class="flex gap-4 items-center">
          <Icon name="person-standing" class="size-8" />
          <span> {t("services.kitecamps.includes.item3")} </span>
        </li>
        <li class="flex gap-4 items-center">
          <Icon name="utensils" class="size-8" />
          <span> {t("services.kitecamps.includes.item4")} </span>
        </li>

        <li class="flex gap-4 items-center">
          <Icon name="guitar" class="size-8" />
          <span> {t("services.kitecamps.includes.item5")} </span>
        </li>
        <li class="flex gap-4 items-center">
          <Icon name="present" class="size-8" />
          <span> {t("services.kitecamps.includes.item6")} </span>
        </li>
      </ul>

      <div class="flex justify-center md:justify-start pt-4">
        <a
          class="whatsapp-btn bg-brand-red hover:bg-white hover:text-brand-red border hover:border-brand-red transition-colors duration-200 cursor-pointer text-white text-base px-6 py-3 font-bold rounded-2xl"
          target="_blank"
          rel="noopener noreferrer"
        >
          {t("services.kitecamps.cta.book")}
        </a>
      </div>
    </div>

    <div class="w-full px-4 md:w-[500px] overflow-hidden justify-self-center">
      <KitecampsCarousel client:load images={images} />
    </div>
  </div>

  <div class="text-brand-blue max-w-6xl mx-auto space-y-16 px-4">
    {
      kitecamps.length > 0 && (
        <div class="space-y-6">
          <h2 class="font-bold text-2xl md:text-4xl uppercase">
            {t("services.kitecamps.upcoming.title")}
          </h2>
          <div class="grid">
            {kitecamps.map((kitecamp) => {
              const instructorPhone = getRandomInstructor();
              const message = createKitecampMessage(
                kitecamp.title ?? "",
                kitecamp.date,
              );
              const whatsappLink = createWhatsAppLink(instructorPhone, message);

              return (
                <div class="grid md:grid-cols-2 ">
                  <div class="bg-white/50 p-6 space-y-4">
                    <p class="font-bold text-2xl md:text-3xl font-salted">
                      {kitecamp.title}
                    </p>
                    <p>{kitecamp.description}</p>
                  </div>
                  <div class="relative flex justify-center items-center p-6">
                    <div class="relative z-10 flex flex-col items-center gap-4">
                      <p class="font-bold text-3xl md:text-5xl text-white text-shadow-md">
                        {kitecamp.date}
                      </p>
                      <a
                        href={whatsappLink}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="bg-brand-red hover:bg-white hover:text-brand-red border hover:border-brand-red border-brand-red transition-colors duration-200 cursor-pointer text-white text-base px-6 py-2 font-bold rounded-md"
                      >
                        {t("services.kitecamps.upcoming.cta.join")}
                      </a>
                    </div>

                    {kitecamp.image && (
                      <div
                        class="absolute inset-0 bg-no-repeat bg-cover z-0"
                        style={`background-image: url('${urlFor(kitecamp.image).width(500).height(300).url()}');`}
                      />
                    )}
                  </div>
                </div>
              );
            })}
          </div>
        </div>
      )
    }

    <div class="space-y-6">
      <h2 class="font-bold text-2xl md:text-4xl uppercase">
        {t("services.kitecamps.past.title")}
      </h2>
      <div class="grid gap-4">
        {
          pastKitecamps.map((kitecamp) => (
            <div class="grid grid-cols-2 ">
              <div class="bg-white/50 p-6 flex items-center">
                <p class="font-bold text-2xl md:text-3xl font-salted">
                  {kitecamp.title}
                </p>
              </div>
              <div class="relative flex justify-center items-center p-6">
                <div class="relative z-10 flex flex-col items-center gap-4">
                  <p class="font-bold text-2xl md:text-3xl text-white text-shadow-md">
                    {kitecamp.date}
                  </p>
                </div>

                {kitecamp.image && (
                  <div
                    class="absolute inset-0 bg-no-repeat bg-cover z-0"
                    style={`background-image: url('${urlFor(kitecamp.image).width(500).height(300).url()}');`}
                  />
                )}
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</ServicesLayout>

<script>
  import { initializeWhatsAppButton } from "../../../modules/utils/whatsapp";

  const kitecampMessage = `¡Hola! Mi nombre es: _____
Quisiera consultar por más información y fecha del próximo *KiteCamp*
¡Gracias!`;

  document.addEventListener("astro:page-load", () => {
    initializeWhatsAppButton(".whatsapp-btn", kitecampMessage);
  });
</script>
